MusicStore {   
    display: list-item;
    background-image: url(image/123.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: (255,255,255);
    width: 100%;
    text-align: center;
}
logo{
    display: list-item;
    content: url(image/logo.PNG);
    height: 170px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

storeInfo {
    display: list-item;
    text-align: center;
    margin-top: 30px;
}

storeName {
    display: inline;
    font-family:cursive,arial,helvetica;
    font-weight: 1000;
    font-size: 50px;
    color: #151611;
    margin-top: 100px;
    scroll-padding: 250px;
}



address,telephone_number,website {
    display: list-item;
    font-family:  cursive, Arial, Helvetica;
    color:rgb(238, 94, 27);
    width: 98%; 
    font-size: 15pt;
    padding: 2px;
    margin-top: 20px;
}

music{
    display: list-item;
    text-align: center;
    color: rgb(0, 0, 0);
    
}

category {
    margin-top: 60px;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 50px;
    font-family: "Comic Sans Ms";
    padding-bottom: 20px;
    padding-left: 25px;
    color: #000000;
}

song{
    margin-top: 25px;
    display: inline-block;
    background-color: #131311;
    padding-top:50px;
    padding-bottom: 25px;
    margin-right: 40px;
    width: 90%;
    overflow-x: hidden;
    background-image: url(image/background.jpg);
    background-size:cover;
}

name {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 50px;
    font-family: "Comic Sans Ms";
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
}

genre, album, length, releaseDate, record, producers, title1, title2, title3, title4, title5, singers, songWriters, label, directors {
    display: list-item;
    list-style-type: none;
    font-family:  cursive, Arial, Helvetica;
    font-size:15pt;
    padding: 5px;
    text-align: left;
    margin-left: 500px;
    color: rgb(254, 252, 253);
    
}

singer, writer, producer, director, recorded{
    color: rgb(191, 205, 224);
    text-align: left;
    margin-left: 0px;
    list-style-type: none;
}

title1 ,title2, title3, title4, title5, label{
    color: rgb(255, 107, 107);
    margin-left: 0px;
}

discription {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 3px rgb(255, 255, 255), 0 0 5px #0000FF;
    
}

image{
    border-radius: 40px;
    height: 510px;
    width: 400px;
    float: left;
    margin-left: 50px;
}

/* image */
image[imageId='I1']{
    content: url(image/Heartbreak.jpg);
    
}
image[imageId='I2']{
    content: url(image/see_you_again.jpg);
    
}

image[imageId='I3']{
    content: url(image/billie.jpg);
    
}

image[imageId='I4']{
    content: url(image/The_Lazy_Song.jpg);
    
}

image[imageId='I5']{
    content: url(image/Nothing_Else_Matters.jpg);
    
}

image[imageId='I6']{
    content: url(image/thunderstruck.jpg);
    
}

image[imageId='I7']{
    content: url(image/Rap_god.jpg);
    
}

image[imageId='I8']{
    content: url(image/Rockstar.jpg);
    
}

image[imageId='I9']{
    content: url(image/the_hills.jpg);
    
}

image[imageId='I10']{
    content: url(image/cant_smile.jpg);
    
}

image[imageId='I11']{
    content: url(image/remember_when.jpg);
    
}

image[imageId='I12']{
    content: url(image/Stressed_Out.jpg);
    
}

image[imageId='I13']{
    content: url(image/Sicko_Mode.jpg);
    
}